main {
  overflow-y: auto;
}
.fundo {
  background-color: white;
  height: 91vh;
  width: 77%;
  display: flex;
  top: 9vh;
  right: 0;
  border-left: 1.5px solid black;
  position: absolute;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
}
.cabecalho-fundo {
  background-color: #d9d9d9;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 10px;
  z-index: 8;
}
.nome-titulo-monitor {
  width: 20rem;
}
.mensagens-aviso {
  display: flex;
  margin: auto;
  background-color: #ffcd06;
  width: 25rem;
  text-align: center;
  font-size: 1rem;
  margin-top: 1.8rem;
  font-weight: normal;
  padding: 1rem;
  border-radius: 10px;
}
.lista-nomes {
  gap: 20px;
  padding-top: 2rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23vw;
  height: 85vh;
  background: #358b11;
}
.barra-de-pesquisa {
  width: 23%;
  height: 6vh;
  padding: 0 2rem;
  background-color: #358b11;
  display: flex;
  align-items: center;
  justify-content: center;

  left: 0;
  border-bottom: 1.5px solid black;
}
.caixa-nome {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  width: 300px;
  height: 85px;
  flex-shrink: 0;
  cursor: pointer;
}
.caixa-nome:hover {
  background-color: #d9d9d9;
}
.caixa-matematica {
  background-color: #08A1CB;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}
.caixa-portugues {
  background-color: #FC4343;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}
.caixa-historia {
  background-color: #C156CB;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}
.caixa-elet-analogica {
  background-color: #E77300;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}
.caixa-biologia {
  background-color: #E2E507;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}
.caixa-quimica {
  background-color: #800180;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}
.caixa-fisica {
  background-color: #52B5F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}
.caixa-filosofia {
  background-color: #DE7AF5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}
.caixa-ingles {
  background-color: #E4016B;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}
.caixa-banco-de-dados {
  background-color: #F49D67;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}

.caixa-banco-de-dados div {
  width: 100%;
}
.caixa-artes {
  background-color: #895129;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}
.caixa-WEB {
  background-color: #4AD9F4;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}
.caixa-sociologia {
  background-color: #74F568;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}
.caixa-geografia {
  background-color: #F26052;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}
.caixa-aluno {
  background-color: #808080;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 225px;
  height: 85px;
  width: 20px;
}
.icone-cabecalho {
  object-fit: cover;
  width: 45px;
  height: 50px;
  margin-left: 10px;
}
.icone-contato-cabecalho {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 10px;
}
.icone-contato {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.nome-monitor {
  width: 10vw;
  margin-left: 50px;
}
.titulo-monitor-cabecalho {
  align-self: last baseline;
  color: #4ab91b;
  font-size: medium;
  width: 50rem;
}
.titulo-monitor-caixa-nome {
  align-self: last baseline;
  width: 10vw;
  margin-left: 50px;
  font-size: small;
}
a {
  text-decoration: none;
  color: black;
}

.perfil {
  color: white;
}

.mensagens-container {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
}

.mensagens-geral {
  max-width: 35%;
  background-color: #f0f0f0;
  padding: 14px 18px;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  text-align: initial;
}

.mensagens-geral .texto {
  margin: 0;
  font-size: 14px;
  color: #1b1b1b;
}

.mensagens-geral .hora {
  margin-top: 6px;
  font-size: 11px;
  color: #888;
  text-align: right;
}

.esquerda {
  align-self: flex-start;
  border-radius: 0px 12px 12px 12px;
}

.direita {
  align-self: flex-end;
  border-radius: 12px 0px 12px 12px;
  background-color: #d2febf;
}

.input-container {
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
}
.form-input {
  display: flex;
  justify-content: center;
  width: 100%;
}
input {
  width: 35rem;
  height: 2rem;
  border-radius: 20px;
  padding: 10px!important;
  font-size: 1rem;
  border: transparent;
  background-color: #e3e3e3;
  color: rgba(0, 0, 0, 0.721);
}
input::placeholder {
  color: rgba(0, 0, 0, 0.721);
}
input[type="file"] {
  display: none;
}
input[type="button"] {
  display: none;
}
.icone-microfone {
  margin-left: 10px;
}
.icone-file {
  margin-right: 10px;
}
label {
  display: flex;
  align-items: center;
}
#texto {
  position: absolute;
  font-size: 35px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  left: 36%;
  top: 22%;
}
h1 {
  font-size: large;
}
.botao-enviar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
.chat-date {
  text-align: center;
  margin: 12px auto;
  font-size: 13px;
  color: #555;
  background: #e6e6e6;
  padding: 4px 10px;
  width: fit-content;
  border-radius: 8px;
  display: block;
}
.img-preview {
  max-width: 220px;
  border-radius: 8px;
  display: block;
}

.imagem-msg {
  margin-bottom: 5px;
}

.arquivo-link {
  text-decoration: none;
  color: #005eff;
  font-weight: 600;
}

.input-wrapper {
  position: relative;
}

#filePreview {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  align-items: center;
  gap: 8px;
  z-index: 5;
}

.preview-image {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  object-fit: cover;
}

.remove-file {
  font-size: 14px;
  cursor: pointer;
  background: #ff4d4d;
  color: white;
  padding: 2px 6px;
  border-radius: 6px;
}

.input-wrapper.preview-active input {
  padding-left: 80px;
}

.img-preview {
  max-width: 250px;
  border-radius: 10px;
  margin-bottom: 4px;
}

